// Variables

$light-grey: #ccc;
$text-color: #F7FAF2;
$blue: #046D8B;
$offgreen: #309292;
$bluegreen: #2FB8AC;
$green: #93A42A;
$yellow: #ECBE13;

$oswald: 'Oswald', sans-serif;
$noto: 'Noto Sans', sans-serif;
